{% extends 'base.html' %}

{% block content %}
<style>
    body{
        background-color: rgb(5, 1, 19);
    }
</style>

<html>
    
<a href='https://github.com/Beelzebubxcrows/Clutter-Remover/archive/master.zip'>
    <p style="font-size:80px; color: rgb(76, 53, 158); font-family: 'Luckiest Guy', cursive; text-align: center; margin-top: auto; margin-bottom: auto;">DOWNLOAD</p></a>

    <p style="font-size:medium; color: white; font-family: 'Luckiest Guy', cursive; text-align: center; margin-top: auto; margin-bottom: auto;">
   <br><br> This removes the clutter from the folders.<br><br>
 <br><br>
  Click on the <b>'Download'</b> above to download this application.<br>
    Paste the application in the folder you want to get the clutter out.<br>
    Run the file and BOOM! Clutter is gone.<br>    
    
    
    </p>

    </html>
{% endblock %}